$primary: #ffbe00;
$primary-dark: #ff6600;
$success: #2ecc71;
$success-dark: #27ae60;

$font-light: #ffffff;
$font-grey: #6c757d;
$font-dark: #000000;

$border-light: #ffffff;
$border-grey: #444444;
$border-grey-light: #a7a7a7;

$background-light: #ffffff;
$background-grey: #8a8a8a;
$background-grey-light: #a7a7a7;
$background-grey-dark: #393f4d;
$background-dark: #242632;
$background-dark-absolute: #333333;
