* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-common;
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-weight: 300;
}

a,
a:hover,
a:active,
a:link {
  text-decoration: none;
  color: $font-light;
  font-weight: 500;
}

body {
  background: $background-grey;
  color: $font-light;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 16px;
  text-align: justify;
}

span {
  font-weight: 500;
}

.card {
  &--full {
    width: 100% !important;
  }

  &--400 {
    width: 400px;
  }

  &--750 {
    width: 750px;
  }
}

.grid {
  &--3 {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
  }

  &--4 {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
  }

  &--5 {
    display: grid !important;
    grid-template-columns: repeat(5, 1fr);
  }

  &--6 {
    display: grid !important;
    grid-template-columns: repeat(6, 1fr);
  }

  &--8 {
    display: grid !important;
    grid-template-columns: repeat(8, 1fr);
  }

  &--9 {
    display: grid !important;
    grid-template-columns: repeat(9, 1fr);
  }

  &--12 {
    display: grid !important;
    grid-template-columns: repeat(12, 1fr);
    left: 0 !important;
  }

  &--250-900 {
    display: grid !important;
    grid-template-columns: 250px 900px;
    left: 20px !important;
  }

  &--400-800 {
    display: grid !important;
    grid-template-columns: 400px 800px;
    left: 20px !important;
  }
}

.node {
  &--top {
    background-image: url("../img/cv/node_a.png");
    height: 90px;
    width: 100vw;
  }

  &--bottom {
    background-image: url("../img/cv/node_b.png");
    height: 90px;
    width: 100vw;
  }
}

.not {
  &--spacing-top {
    height: 0;
    position: relative;
    top: -40px;
  }
}
